<div class="container">
  <!-- <nav> 
    <button routerLink="/accueil">Accueil</button> 
    <button routerLink="/produits">Liste des produits</button> 
    <button routerLink="/ajouterProduit">Ajouter produit </button> 
  </nav>  -->

  <nav>
    <table>
      <tr>
        <td *ngFor="let action of actions">
          <button class="btn btn-success" (click)="setActionCourante(action)"
            [style.backgroundColor]="action==actionCourante? 'yellow' : 'green' " routerLink="{{action.route}}">
            {{action.titre}}
          </button>

        </td>
      </tr>
    </table>
  </nav>
</div>


<router-outlet> </router-outlet>
